# original fragment https://github.com/cms-sw/cmssw/blob/master/Configuration/Generator/python/GGToHtautau_13TeV_pythia8_cff.py
# modifications:
# - Tune CP5 instead of CUEP8M1
# - mass of the Higgs boson
# - onIfMatch is used instead of onIfAny (final state has to be exactly 15 -15)
# - minimal mass reduced to 25.0


import FWCore.ParameterSet.Config as cms
from Configuration.Generator.Pythia8CommonSettings_cfi import *
from Configuration.Generator.MCTunes2017.PythiaCP5Settings_cfi import *


generator = cms.EDFilter("Pythia8GeneratorFilter",
                         pythiaPylistVerbosity = cms.untracked.int32(1),
                         # put here the efficiency of your filter (1. if no filter)
                         filterEfficiency = cms.untracked.double(1.0),
                         pythiaHepMCVerbosity = cms.untracked.bool(False),
                         # put here the cross section of your process (in pb)
                         crossSection = cms.untracked.double(0.05),
                         comEnergy = cms.double(13000.0),
                         maxEventsToPrint = cms.untracked.int32(3),
                         PythiaParameters = cms.PSet(
        pythia8CommonSettingsBlock,
        pythia8CP5SettingsBlock,
        processParameters = cms.vstring(
            'HiggsSM:gg2H = on',
            '25:onMode = off',
            '25:onIfMatch = 15 -15',
            '25:m0 = {{ higgs_mass }}',
            '25:mMin = 25.0',
        ),
        parameterSets = cms.vstring('pythia8CommonSettings',
                                    'pythia8CP5Settings',
                                    'processParameters',
                                    )
        )
                         )
